{{input class="content-input" type="text" placeholder="Add Content" value=contentToAdd}}
<button class="create-content" {{action 'createContent'}}>Create Content</button>
{{#if createError}}
  <div class="create-error">{{createError}}</div>
{{/if}}
{{#each model.content as |content|}}
  <div class="content">
    {{content.name}}
  </div>
{{/each}}